

<%- include("partials/header.ejs"); -%>
<h1>Home</h1>
<p><%=content%></p>


   
    <%for (let i=0;i<posts.length;i++){%>

    <h1><%=posts[i].title%></h1>
<p> <%= posts[i].content.substring(0,100) +"..." %></p>
<a href="/post/<%= posts[i].title%>" >Read more</a>  
    

    
 

    
    

   <%}%> 



<%- include("./partials/footer.ejs"); -%>